.post {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.post__avatar, .post__header-info {
  display: inline-block;
  padding-right: 15px;
}

.post__img {
  width: 100%;
  height: auto;
}

.post__header, .post__body {
  padding: 15px 20px;
}

.post__body-separator {
  border: 0;
  height: 1px;
  background-color: #e0e0e0;
}

.post__comment-input {
  border: 0;
  outline: 0;
  font-size: inherit;
}

.post__likes {
  margin: 5px auto;
}

.post__comment-form {
  margin: 15px auto;
}

.post__likebtn button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  font-size: 18px;
  border: none;
  outline: none;
}

.post__likebtn button .thumbs {
  font-size: 24px;
  margin-right: 5px;
}

.thumbs-up {
  color: #000;
}

.thumbs-down {
  color: #00f;
}
